Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta, test

Version bump
  .version
  CHANGELOG.md
Labels: none

Version bump (#454)
  .version
  CHANGELOG.md
Labels: none

Update actionlint
  .tool-versions
Labels: dependencies

Bump intended security support until 2026-06-01
  SECURITY.md
Labels: none

Bump intended security support until 2026-06-01 (#456)
  SECURITY.md
Labels: none

Use Dependabot-style pin comment for reusable workflow
  .github/workflows/pr.yml
  LICENSE
Labels: ci/cd

Inline scripts into `pr.yml`
  .github/workflows/pr.yml
Labels: ci/cd

Update yamllint
  .tool-versions
Labels: dependencies

Bump SAST tooling
  Makefile
Labels: none

Bump SAST tooling (#459)
  Makefile
Labels: none

Update composite action dependencies
  pr/action.yml
Labels: action:pr

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update actionlint
  .tool-versions
Labels: dependencies

Update SAST tooling
  Makefile
Labels: none

Update SAST tooling (#469)
  Makefile
Labels: none

Update shfmt
  .tool-versions
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

Update shfmt
  .tool-versions
Labels: dependencies

Update composite action dependencies
  pr/action.yml
Labels: action:pr

Update the CHANGELOG
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# Configuration file for Labeler (https://github.com/actions/labeler)

action:base:
  - changed-files:
      - any-glob-to-any-file:
          - action.yml

action:commit:
  - changed-files:
      - any-glob-to-any-file:
          - commit/*

action:pr:
  - changed-files:
      - any-glob-to-any-file:
          - pr/*

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .tool-versions

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - commit/README.md
          - pr/README.md
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/labeler.yml
          - .editorconfig
          - .gitattributes
          - .hadolint.yml
          - .shellcheckrc
          - .yamllint.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - spec/*
          - .shellspec
