Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta, test

.github/labeler.yml:

# Configuration file for Labeler (https://github.com/actions/labeler)

action:base:
  - changed-files:
      - any-glob-to-any-file:
          - action.yml

action:commit:
  - changed-files:
      - any-glob-to-any-file:
          - commit/*

action:pr:
  - changed-files:
      - any-glob-to-any-file:
          - pr/*

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .tool-versions

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - commit/README.md
          - pr/README.md
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/labeler.yml
          - .editorconfig
          - .gitattributes
          - .hadolint.yml
          - .shellcheckrc
          - .yamllint.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - spec/*
          - .shellspec

Update composite action dependencies
  pr/action.yml
Labels: action:pr

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update shfmt
  .tool-versions
Labels: dependencies

Update yamllint
  .tool-versions
Labels: dependencies

Update yamllint
  .tool-versions
Labels: dependencies

Remove redundant input to `actions/checkout`
  commit/action.yml
Labels: action:commit

Remove redundant input to `actions/checkout` (#367)
  commit/action.yml
Labels: action:commit

Configure Semgrep to run without auth in CI
  .github/workflows/check.yml
  .github/workflows/semgrep.yml
Labels: ci/cd

Update yamllint
  .tool-versions
Labels: dependencies

Update yamllint
  .tool-versions
Labels: dependencies

partially revert
  .github/workflows/check.yml
Labels: ci/cd

Update .github/workflows/check.yml
  .github/workflows/check.yml
Labels: ci/cd

Configure Semgrep to run without auth in CI (#368)
  .github/workflows/check.yml
  .github/workflows/semgrep.yml
Labels: ci/cd

Update composite action dependencies
  commit/action.yml
Labels: action:commit

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Avoid dependency on actions/github-script
  .github/workflows/publish.yml
Labels: ci/cd

Avoid dependency on actions/github-script (#371)
  .github/workflows/publish.yml
Labels: ci/cd

Update yamllint
  .tool-versions
Labels: dependencies

Bump intended security support until 2026-01-01
  SECURITY.md
Labels: none

Update expiry date in the security policy (#375)
  SECURITY.md
Labels: none

Update shfmt
  .tool-versions
Labels: dependencies

Replace `tibdex/github-app-token` by `actions/create-github-app-token`
  .github/workflows/tooling.yml
  .github/workflows/transitive-actions.yml
Labels: ci/cd

Replace `tibdex/github-app-token` by `actions/create-github-app-token` (#380)
  .github/workflows/tooling.yml
  .github/workflows/transitive-actions.yml
Labels: ci/cd

Update shellcheck
  .tool-versions
Labels: dependencies

Update ShellCheck configuration
  Makefile
  spec/bin/install-plugins_spec.sh
  spec/bin/templating_spec.sh
  spec/bin/update_spec.sh
Labels: none

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Bump SAST scanners
  Makefile
Labels: none

Explicitly `persist-credentials`
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Bump SAST scanners (#388)
  Makefile
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Add a threat model
  SECURITY.md
Labels: none

Add a threat model (#389)
  SECURITY.md
Labels: none

Bump `asdf-vm/actions` from v3 to v4
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Bump `stefanzweifel/git-auto-commit-action` from v5 to v6
  CHANGELOG.md
  commit/action.yml
Labels: action:commit

Bump `actions/checkout` from v4 to v5
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Bump `stefanzweifel/git-auto-commit-action` from v5 to v6 (#391)
  CHANGELOG.md
  commit/action.yml
Labels: action:commit

Version bump
  .version
  CHANGELOG.md
Labels: none

Version bump (#393)
  .version
  CHANGELOG.md
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Bump `actions/checkout` from v4 to v5 (#392)
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr
