Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Use `actions/checkout` v4 for example workflows
  README.md
Labels: documentation

Bump `actions/checkout` from v3 to v4 (#92)
  CHANGELOG.md
  README.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr, documentation

Update .tool-versions
  .tool-versions
Labels: dependencies

Downgrade `act` back to 0.2.49
  .tool-versions
Labels: dependencies

Try `asdf-vm/action` on Node.js v20 as project dependency
  .github/workflows/check.yml
  .github/workflows/test.yml
Labels: ci/cd

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Add SPDX license identifiers to documentation
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Add SPDX license identifiers to contributor docs
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE.md
  SECURITY.md
Labels: none

Add SPDX license identifiers to documentation (#102)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  SECURITY.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Extend v0 EOL by two months
  SECURITY.md
Labels: none

Extend v0 EOL by two months (#106)
  SECURITY.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Downgrade `act` to working version, skip `act` updates
  .github/workflows/tooling.yml
  .tool-versions
Labels: ci/cd, dependencies

Bump `stefanzweifel/git-auto-commit-action` from v4 to v5
  commit/action.yml
Labels: action:commit

Update the changelog
  CHANGELOG.md
Labels: none

Bump `stefanzweifel/git-auto-commit-action` from v4 to v5 (#107)
  CHANGELOG.md
  commit/action.yml
Labels: action:commit

Bump `asdf-vm/actions` from v2 to v3
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Bump `asdf-vm/actions` from v2 to v3 (#110)
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add output `updated-count`
  CHANGELOG.md
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Add output `updated-count` (#118)
  CHANGELOG.md
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Derive `did-output` from `updated-count` instead of computing it
  action.yml
  bin/update.sh
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr

Define script output names once
  bin/update.sh
Labels: none

Define script output names once (#120)
  bin/update.sh
Labels: none

Derive `did-output` from `updated-count` instead of computing it (#119)
  action.yml
  bin/update.sh
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr

Version bump
  .version
  CHANGELOG.md
Labels: none

Release v0.3.7 (#121)
  .version
  CHANGELOG.md
Labels: none

Add skip input to configure tool versions to skip
  CHANGELOG.md
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Improve logging around the exclusion and inclusion inputs
  bin/update.sh
Labels: none

Use `skip` input to skip problematic `act` release
  .github/workflows/tooling.yml
Labels: ci/cd

Add `skip` input (#122)
  .github/workflows/tooling.yml
  CHANGELOG.md
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, ci/cd, documentation

Improve logging around the skip input
  bin/update.sh
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Improve (mostly debug) logging (#123)
  CHANGELOG.md
  bin/update.sh
Labels: none

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

action:base:
  - action.yml

action:commit:
  - commit/*

action:pr:
  - pr/*

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions

documentation:
  - commit/README.md
  - pr/README.md
  - README.md

meta:
  - .github/dependabot.yml
  - .github/labeler.yml
  - .editorconfig
  - .gitattributes
  - .hadolint.yml
  - .shellcheckrc
  - .yamllint.yml
