Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta, test

chore(outputs): move escape_json and escape_pipes to actions.sh as a helper functions
  bin/update.sh
  lib/actions.sh
Labels: none

chore(outputs): remove updated-tools-json output
  bin/update.sh
  pr/action.yml
Labels: action:pr

feat(outputs/pr): update PR body with updated-tools-table
  pr/action.yml
Labels: action:pr

feat(outputs): add missing table related variables
  bin/templating.sh
  pr/action.yml
Labels: action:pr

feat(shellspec/actions): add 2 new helper functions into tests
  spec/lib/actions_spec.sh
Labels: none

Align docs, refactor lib, update tests, tweaks
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  lib/actions.sh
  lib/escape.sh
  pr/README.md
  pr/action.yml
  spec/bin/templating_spec.sh
  spec/bin/update_spec.sh
  spec/lib/actions_spec.sh
  spec/lib/escape_spec.sh
Labels: action:base, action:commit, action:pr, documentation

Update actionlint
  .tool-versions
Labels: dependencies

feat(commit/values): add env UPDATED_TOOLS_TABLE to steps commit message & branch name
  commit/action.yml
Labels: action:commit

Update composite action dependencies
  pr/action.yml
Labels: action:pr

Add MarkDown table output and use it in `/pr` (#421)
  README.md
  action.yml
  bin/templating.sh
  bin/update.sh
  commit/README.md
  commit/action.yml
  lib/escape.sh
  pr/README.md
  pr/action.yml
  spec/bin/templating_spec.sh
  spec/bin/update_spec.sh
  spec/lib/escape_spec.sh
Labels: action:base, action:commit, action:pr, documentation

Align output descriptions implementation
  action.yml
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Align output descriptions implementation (#431)
  action.yml
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr

Version bump
  .version
  CHANGELOG.md
Labels: none

Add an example of the outputs
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Version bump (#432)
  .version
  CHANGELOG.md
Labels: none

Add an example of the outputs (#433)
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Draft reusable workflow version of `/pr`
  .github/workflows/pr.yml
  pr/README.md
Labels: action:pr, ci/cd, documentation

Add missing permissions
  pr/README.md
Labels: action:pr, documentation

Use `actions/checkout` to fetch scripts
  .github/workflows/pr.yml
Labels: ci/cd

Restrict permissions of the reusable workflow as well
  .github/workflows/pr.yml
Labels: ci/cd

feat(pr/input): add new boolean input pr-auto-approve
  pr/action.yml
Labels: action:pr

feat(pr/output): add pr-url output from pr creation step
  pr/action.yml
Labels: action:pr

feat(pr/step): add Auto-approve Pull Request step
  pr/action.yml
Labels: action:pr

feat(pr/docs): update README.md
  pr/README.md
Labels: action:pr, documentation

Apply suggestions from code review
  pr/action.yml
Labels: action:pr

feat(pr/docs): update README.md
  pr/README.md
Labels: action:pr, documentation

feat(pr/output): remove pr url
  pr/action.yml
Labels: action:pr

Update composite action dependencies
  pr/action.yml
Labels: action:pr

Update the CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix CI (attempt)
  .github/workflows/test.yml
Labels: ci/cd

Bump `actions/checkout` from v5 to v6
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Bump `peter-evans/create-pull-request` from v7 to v8
  pr/action.yml
Labels: action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Bump `stefanzweifel/git-auto-commit-action` from v6 to v7
  commit/action.yml
Labels: action:commit

Bump `peter-evans/create-pull-request` from v7 to v8 for `/pr` (#452)
  CHANGELOG.md
  pr/action.yml
Labels: action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Bump `stefanzweifel/git-auto-commit-action` from v6 to v7 for `/commit` (#453)
  CHANGELOG.md
  commit/action.yml
Labels: action:commit

Update the changelog
  CHANGELOG.md
Labels: none

Bump actions' dependency on `actions/checkout` from v5 to v6 (#451)
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

.github/labeler.yml:

# Configuration file for Labeler (https://github.com/actions/labeler)

action:base:
  - changed-files:
      - any-glob-to-any-file:
          - action.yml

action:commit:
  - changed-files:
      - any-glob-to-any-file:
          - commit/*

action:pr:
  - changed-files:
      - any-glob-to-any-file:
          - pr/*

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .tool-versions

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - commit/README.md
          - pr/README.md
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/labeler.yml
          - .editorconfig
          - .gitattributes
          - .hadolint.yml
          - .shellcheckrc
          - .yamllint.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - spec/*
          - .shellspec
