Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta, test

Update the changelog
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Bump `asdf-vm/actions` from v3 to v4 (#390)
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Version bump
  .version
  CHANGELOG.md
  README.md
  RELEASE.md
  SECURITY.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Version bump (#394)
  .version
  CHANGELOG.md
  README.md
  RELEASE.md
  SECURITY.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Replace `asdf local` by `asdf set`
  CHANGELOG.md
  bin/update.sh
  spec/bin/update_spec.sh
Labels: none

Update dev container, including asdf and alpine
  Containerfile.dev
  Makefile
Labels: none

Update dev container, including asdf and alpine (#397)
  Containerfile.dev
  Makefile
Labels: none

Replace `asdf local` by `asdf set` (#396)
  CHANGELOG.md
  bin/update.sh
  spec/bin/update_spec.sh
Labels: none

Version bump
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Version bump (#398)
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Update hadolint
  .tool-versions
Labels: dependencies

Update hadolint
  .tool-versions
Labels: dependencies

Update actionlint
  .tool-versions
Labels: dependencies

feat(actions/commit): add asdf_skip_install
  commit/action.yml
Labels: action:commit

feat(actions/pr): add asdf_skip_install
  pr/action.yml
Labels: action:pr

feat(actions): add asdf_skip_install to asdf-vm/actions/install step
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

chore(scripts/update.sh): remove asdf install for tools
  bin/update.sh
Labels: none

Update unit tests
  spec/bin/update_spec.sh
Labels: none

feat(actions/commit): applied feedback
  commit/action.yml
Labels: action:commit

feat(actions/pr): applied feedback
  pr/action.yml
Labels: action:pr

feat(readme/pr): updated usage
  pr/README.md
Labels: action:pr, documentation

feat(readme/commit): updated usage
  commit/README.md
Labels: action:commit, documentation

Apply suggestions from code review
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:commit, action:pr, documentation

fix: add origin/ prefix to BASE branch in rev-list command
  pr/action.yml
Labels: action:pr

Revert "fix: add origin/ prefix to BASE branch in rev-list command"
  pr/action.yml
Labels: action:pr

feat(actions/outputs): Add structured JSON and markdown table outputs
  README.md
  action.yml
  bin/update.sh
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

feat(actions/outputs): add json escape for edge cases
  bin/update.sh
Labels: none

Update the CHANGELOG.md
  CHANGELOG.md
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Add option `install-tools` to support disabling tool installation (#415)
  CHANGELOG.md
  bin/update.sh
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
  spec/bin/update_spec.sh
Labels: action:commit, action:pr, documentation

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update the changelog
  CHANGELOG.md
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Update LICENSE
  LICENSE
Labels: none

chore: Apply suggestions from code review
  README.md
  action.yml
  bin/update.sh
  commit/action.yml
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Update LICENSE (#423)
  LICENSE
Labels: none

Version bump
  .version
  CHANGELOG.md
Labels: none

Version bump (#425)
  .version
  CHANGELOG.md
Labels: none

Bump SAST tools
  Makefile
Labels: none

Bump SAST tools (#426)
  Makefile
Labels: none

Update bin/update.sh
  bin/update.sh
Labels: none

.github/labeler.yml:

# Configuration file for Labeler (https://github.com/actions/labeler)

action:base:
  - changed-files:
      - any-glob-to-any-file:
          - action.yml

action:commit:
  - changed-files:
      - any-glob-to-any-file:
          - commit/*

action:pr:
  - changed-files:
      - any-glob-to-any-file:
          - pr/*

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/dependabot.yml
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .tool-versions

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - commit/README.md
          - pr/README.md
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/labeler.yml
          - .editorconfig
          - .gitattributes
          - .hadolint.yml
          - .shellcheckrc
          - .yamllint.yml

test:
  - changed-files:
      - any-glob-to-any-file:
          - spec/*
          - .shellspec
