Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

action:base:
  - action.yml

action:commit:
  - commit/*

action:pr:
  - pr/*

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions

documentation:
  - commit/README.md
  - pr/README.md
  - README.md

meta:
  - .github/dependabot.yml
  - .github/labeler.yml
  - .editorconfig
  - .gitattributes
  - .hadolint.yml
  - .shellcheckrc
  - .yamllint.yml

Derive `updated-count` from update capacity instead of computing it
  bin/update.sh
Labels: none

Refactor `updated-count` (#124)
  bin/update.sh
Labels: none

Bump `peter-evans/create-pull-request` from v5 to v6-rc
  CHANGELOG.md
  pr/action.yml
Labels: action:pr

Update .tool-versions
  .tool-versions
Labels: dependencies

Revert `act` update, skip latest `act` version
  .github/workflows/tooling.yml
  .tool-versions
Labels: ci/cd, dependencies

Initialize unit tests
  .github/workflows/test.yml
  .gitignore
  .shellspec
  .tool-versions
  Makefile
  spec/actions_spec.sh
  spec/spec_helper.sh
Labels: ci/cd, dependencies

Test the `install-plugins.sh` script
  .gitignore
  CHANGELOG.md
  Dockerfile
  bin/install-plugins.sh
  spec/bin/install-plugins_spec.sh
  spec/lib/actions_spec.sh
Labels: none
