Repository ericcornelissen/tool-versions-update-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action:base, action:commit, action:pr, ci/cd, dependencies, documentation, meta

Explicitly set the files to commit (#60)
  commit/action.yml
Labels: action:commit

Add input `pr-base`
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Group changes by action
  CHANGELOG.md
Labels: none

Group changes by action in the changelog (#65)
  CHANGELOG.md
Labels: none

Add input `pr-base` (#64)
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Update SECURITY.md
  SECURITY.md
Labels: none

Add output `did-update`
  CHANGELOG.md
  action.yml
  bin/update.sh
  commit/action.yml
  lib/actions.sh
  pr/action.yml
Labels: action:base, action:commit, action:pr

Document action outputs
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Add output `did-update` (#68)
  CHANGELOG.md
  README.md
  action.yml
  bin/update.sh
  commit/README.md
  commit/action.yml
  lib/actions.sh
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Update SECURITY.md (#67)
  SECURITY.md
Labels: none

Version bump
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Release v0.3.4 (#69)
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Add testing in CI as well as using `act`
  .actrc
  .github/workflows/test.yml
  .gitignore
  .tool-versions
  Dockerfile
  Makefile
Labels: ci/cd, dependencies

Add testing in CI as well as using `act` (#70)
  .actrc
  .github/workflows/test.yml
  .gitignore
  .tool-versions
  Dockerfile
  Makefile
Labels: ci/cd, dependencies

Add output `pr-number`
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Add output `pr-number` (#71)
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Harden publish workflow
  .github/workflows/publish.yml
Labels: ci/cd

Harden CI workflow against shell/script injection (#74)
  .github/workflows/publish.yml
Labels: ci/cd

Add input `assignees`
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Add input `assignees` (#76)
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Add output `commit-sha`
  CHANGELOG.md
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:commit, action:pr, documentation

Add link on how to use action outputs to "Outputs" sections
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Add output `commit-sha` (#77)
  CHANGELOG.md
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:commit, action:pr, documentation

Add input `reviewers`
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Add link on how to use action outputs to "Outputs" sections (#78)
  README.md
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Add input `reviewers` (#79)
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Align input descriptions
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:commit, action:pr, documentation

Add missing period to outputs description in root manifest
  action.yml
Labels: action:base

Version bump
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Release v0.3.5 (#81)
  .version
  CHANGELOG.md
  RELEASE.md
Labels: none

Internally align docs (#80)
  action.yml
  commit/README.md
  commit/action.yml
  pr/README.md
  pr/action.yml
Labels: action:base, action:commit, action:pr, documentation

Consistently quote default string values for action inputs
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Consistently quote default string values for action inputs (#83)
  commit/README.md
  pr/README.md
Labels: action:commit, action:pr, documentation

Add input `branch`
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Add input `branch` (#82)
  CHANGELOG.md
  pr/README.md
  pr/action.yml
Labels: action:pr, documentation

Update composite action dependencies
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Bump actions/checkout from v3 to v4
  commit/action.yml
  pr/action.yml
Labels: action:commit, action:pr

Version bump
  .version
  CHANGELOG.md
Labels: none

Version bump (#93)
  .version
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

action:base:
  - action.yml

action:commit:
  - commit/*

action:pr:
  - pr/*

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions

documentation:
  - commit/README.md
  - pr/README.md
  - README.md

meta:
  - .github/dependabot.yml
  - .github/labeler.yml
  - .editorconfig
  - .gitattributes
  - .hadolint.yml
  - .shellcheckrc
  - .yamllint.yml
